* {
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  height: 60px;
  background-color: #0f1111;
  color: white;
  display: flex;
  align-items: center;
}

.nav-logo {
  height: 50px;
  width: 100px;
}

.logo {
  width: 100%;
  height: 50px;
  background-image: url("amazon_logo.png");
  background-size: cover;
}

.border {
  border: 1.5px solid transparent;
}

.border:hover {
  border: 1.5px solid white;
}

/* Box 2 */

.add-first {
  color: #cccccc;
  font-size: 0.85rem;
  margin-left: 24px;
}

.add-second {
  font-size: 1rem;
  margin-left: 3px;
}

.add-icon {
  display: flex;
  align-items: center;
}
